---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Página de inicio";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Mi impresionante subtítulo del blog</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	<!-- Contenido principal -->
	<div class="nieve">
		<div class="copo"></div>
		<div class="copo"></div>
		<div class="copo"></div>
		<div class="copo"></div>
		<div class="copo"></div>
		<div class="copo"></div>
		<div class="copo"></div>
		<div class="copo"></div>
		<div class="copo"></div>
		<div class="copo"></div>
	</div>
	<!-- Copos de nieve animados -->

	<div class="content">
		<h1>Un pequeño poema</h1>
		<slot />
		<p>
			Tu sonrisa, un rayo de sol cautivador, <br />
			Ilumina mis días con su brillo eterno. <br />
			Mas, a veces, siento un dolor interior, <br />
			Cuando tu mirada se torna en un invierno. <br />
			<br />
			Tus palabras, cual melodía celestial, <br />
			Acarician mi alma con dulce cadencia. <br />
			Pero hay momentos en que tu voz, tan glacial, <br />
			Hiere mis sentimientos con cruda indiferencia. <br />
			<br />
			Tu presencia, un edén de paz y calor, <br />
			Envuelve mi ser en un cálido abrazo. <br />
			Sin embargo, a ratos, siento un frío temor <br />
			Cuando tu actitud distante corta el lazo. <br />
			<br />
			Quisiera poder alcanzar tu corazón, <br />
			Derretir el hielo que lo mantiene preso. <br />
			Anhelo con fervor tu sincera devoción, <br />
			Y escapar de este amargo sufrimiento impreso.<br />
			<br />
			Aunque tu amor a veces se torne tan helado, <br />
			Mi cariño por ti sigue ardiendo intenso. <br />
			Pero mi corazón, ya cansado y lacerado, <br />
			Anhela liberarse de este tormento inmenso.<br />
		</p>
		<footer>
			<p>Jeremmy Varela</p>
		</footer>
	</div>
</BaseLayout>
